@model E_LEARNING.Models.Curso

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código de Curso:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoCurso)
        </dd>

        <dt>
            Nombre del curso:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCurso)
        </dd>

        <dt>
            Descripción del curso:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionCurso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCurso }, new { @class="btn btn-dark"}) |
    @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-dark"})
</p>
