@model E_LEARNING.Models.Curso

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edición de curso</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdCurso)

        <div class="form-group">
            Código de curso: 
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodigoCurso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CodigoCurso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Nombre del curso:
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreCurso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreCurso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Descripción del curso:
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescripcionCurso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescripcionCurso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-dark" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
