@model E_LEARNING.Models.Lecciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Details</h2>

    <div>
        <h4>Lecciones</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contenido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contenido)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdLeccion }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">   @Html.DisplayFor(model => model.Titulo)</h1>

            <!-- Author -->
            <p class="lead">
                by
                @ViewBag.docente
            </p>

            <hr>

            <!-- Date/Time -->
            <p>Posted on January 1, 2019 at 12:00 PM</p>

      



            <hr>

            <!-- Post Content -->
            <p>
                @Html.DisplayFor(model => model.Contenido)
            </p>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <!-- Single Comment -->
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>



        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            @if(User.IsInRole("Profe"))
            {
            <div class="card my-4">
                <h5 class="card-header bg-dark text-white">Panel</h5>
                <div class="card-body">
                    Gestione el aula desde aquí, adjunte archivos y recursos con los estudiantes.
                    <hr />




                    @* Modal para la administración de la clase *@
                    <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target=".bd-example-modal-lg">Ver</button>

                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="card border-dark">
                                    <div class="card-header">Recursos</div>
                                    <div class="card-body">

                                        <!--Botón group par subir archivo-->
                                        @*<div class="input-group mb-3">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputGroupFile02">
                                            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="">Upload</span>
                                        </div>
                                    </div>*@


                                        @using (Html.BeginForm("SubirArchivo", "Archivos", null, FormMethod.Post, new { enctype = "multipart/form-data", method = "post" }))
                                        {
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <input type="file" name="file" />
                                                    <input type="hidden" name="tipo" value=1 />
                                                    <input type="hidden" name="lec" value=@Model.IdLeccion />
                                                </div>
                                                <div class="col-md-6 left">
                                                    <button type="submit" class="btn btn-sm btn-primary">
                                                        <span class="glyphicon glyphicon-open"></span>
                                                        Subir archivo
                                                    </button>
                                                </div>
                                            </div>
                                        }


                                        <p class="card-text">

                                            @if (ViewBag.recursos.Count < 1)
                                            {
                                                <div class="alert alert-danger" role="alert">
                                                    No hay recursos asignados aún.
                                                </div>
                                            }
                                            else
                                            {

                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <table class="table">
                                                            <tr>
                                                                <th>
                                                                    Fecha de Creación
                                                                </th>
                                                                <th>
                                                                    Archivo
                                                                </th>
                                                                <th>
                                                                    Opciones
                                                                </th>
                                                                <th></th>
                                                            </tr>
                                                            @foreach (var item in ViewBag.recursos)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @item.Creado.ToShortDateString()
                                                                    </td>

                                                                    <td>
                                                                        <a href="@Url.Action("DescargarArchivo", "Archivos", new { id = item.Id })">
                                                                            <span class="glyphicon glyphicon-save"></span>
                                                                            <span>@item.Nombre.@item.Extension</span>
                                                                            <input type="hidden" name="tipo" value=@item.Tipo />
                                                                        </a>
                                                                    </td>

                                                                    <td>
                                                                        <a href="@Url.Action("EliminarArchivo", "Archivos",
                                                                                                    new { id = item.Id, leccion = Model.IdLeccion })" class="btn btn-outline-danger">
                                                                            <span class="glyphicon glyphicon-remove text-danger small"></span>
                                                                            Eliminar archivo
                                                                        </a>

                                                                    </td>

                                                                </tr>




                                                            }

                                                        </table>
                                                    </div>
                                                </div>
                                            }
                                        </p>
                                    </div>
                                </div>


                                @*<div class="card border-dark">
                                <div class="card-header" >Tareas</div>
                                <div class="card-body">
                                    <h5 class="card-title"> <a href="#" class="btn btn-sm btn-dark">Nueva</a></h5>
                                    <p class="card-text">

                                        <table class="table">
                                            <tr>
                                                <th>
                                                    Nombre:
                                                </th>
                                                <th>
                                                    Opciones:
                                                </th>
                                            </tr>

                                            <tr>
                                                <td>
                                                    Analisis ASP
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-danger">Eliminar</a>

                                                </td>
                                            </tr>
                                        </table>
                                    </p>
                                </div>
                            </div>*@



                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }

            <!-- Car para tareas -->
            @*<div class="card my-4">
            <h5 class="card-header bg-dark text-white">Recursos</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">Web Design</a>
                            </li>
                            <li>
                                <a href="#">HTML</a>
                            </li>
                            <li>
                                <a href="#">Freebies</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">JavaScript</a>
                            </li>
                            <li>
                                <a href="#">CSS</a>
                            </li>
                            <li>
                                <a href="#">Tutorials</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header bg-dark text-white">Recursos</h5>
                <div class="card-body">
                    @if (ViewBag.recursos.Count < 1)
                    {
                        <div class="alert alert-danger" role="alert">
                            No hay recursos asignados aún.
                        </div>
                    }
                    else
                    {

                        <div class="row">
                            <div class="col-md-12">

                                <table class="table">
                                    <tr>
                                        <th>
                                            Fecha de Creación
                                        </th>
                                        <th>
                                            Archivo
                                        </th>
                                    </tr>
                                    @foreach (var item in ViewBag.recursos)
                                    {


                                        <tr>
                                            <td>
                                                @item.Creado.ToShortDateString()
                                            </td>

                                            <td>
                                                <a class="btn btn-info" href="@Url.Action("DescargarArchivo", "Archivos", new { id = item.Id })">
                                                    <span class="glyphicon glyphicon-save"></span>
                                                    <span>@item.Nombre.@item.Extension</span>
                                                    <input type="hidden" name="tipo" value=@item.Tipo />
                                                </a>
                                            </td>



                                        </tr>




                                    }

                                </table>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->